video {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.video{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.videoContainter p{
    max-width: 100%
}

div.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}

div.imgContainer img{
    border-radius: 5px;
}

div.container{
    display: grid;
    grid-template-columns: 1fr

}

div.bodyText{
    margin: 10px;
    box-shadow: var(--shadow);
    background-color: #F5F5F5;
}