video {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.video{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

