div.contentContato {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

div.column1{
    display: flex;
    justify-content: center;
    align-items: center;
}