header.header{
    background-color: 	#FFF;
    overflow: hidden;
    width: var(--aside-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header h1{
    font-size: 1.8em;
    margin-bottom: 7%
}

.headerContent{
    display: flex;
}